body {
    font-family: "Nunito", Helvetica, Arial, Helvetica, sans-serif;
    background-color: #ECEEF2;
}

.container-center {
    width: 620px;
    height: 763px;
    padding: 28px 52.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 20px;
}

.containerLogo {
    max-width: 213px;
    max-height: 124px;
    margin: 0 auto;
}

.containerLogo img {
    max-width: 100%;
    flex-shrink: 0;
    height: auto;
    display: block;
}

h1 {
    width: 100%;
    text-align: center;
}

.container-input {
    display: flex;
    flex-direction: column;
}