
* {
    box-sizing: border-box;
    max-width: 100%;
}

html,body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", Helvetica, Arial, Helvetica, sans-serif;
    background-color: #ECEEF2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-center {
    width: 620px;
    height: 763px;
    padding: 28px 52.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 20px;
}

.containerLogo {
    max-width: 213px;
    max-height: 124px;
    margin: 0 auto;
}

.containerLogo img {
    max-width: 100%;
    flex-shrink: 0;
    height: auto;
    display: block;
}

h1 {
    width: 100%;
    text-align: center;
}

.container-input {
    display: flex;
    flex-direction: column;
}

.name {
    width: 100%;
}

.email {
    width: 64%;
    margin-top: 18px;
}

.password {
    width: 64%;
    margin-top: 31px;
}

.phone {
    width: 31.5%;
    margin-top: 18px;
}

.birthday {
    width: 31.5%;
    margin-top: 31px;
}

.container-input input {
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    padding: 11px 0 11px 12px;
    margin-top: 4px;
    width: 100%;
}

input[type="date"] {
    padding: 9px 12px !important;
    background-color: #FFFFFF;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0;
    padding: 0 !important;
}

.title-input {
    font-size: 14px;
    line-height: 16px;
    color: #767676;
}

.feedBackValidation {
    margin-top: 7px;
    font-size: 14px;
    line-height: 16px;
    color: #FF4B4B;
}

.invisible {
    visibility: hidden;
}

.container-button-and-terms {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 126px;
    flex-wrap: wrap;
}

.container-button-and-terms button {
    background: #0DBDBD;
    border-radius: 10px;
    border-width: 0;
    color: #FFFFFF;
    padding: 11px 10.5px;
    cursor: pointer;
}

@media (max-width: 650px) {

    html,
    body {
        min-height: 100%;
        padding: 0;
    }

    .container-center {
        min-height: 100vh;
        width: 100%;
        padding: 28px 25px;
        align-content: center;
        border-radius: 0;
    }

    .container-button-and-terms {
        flex-direction: column;
        order: 11;
        margin-top: 40px;
    }

    .container-button-and-terms button {
        flex: 1;
        margin-top: 12px;
    }
}
