* {
    box-sizing: border-box;
    max-width: 100%;
}

html,
body {
    font-family: "Nunito", Helvetica, Arial, Helvetica, sans-serif;
    background-color: #ECEEF2;
    min-height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-center {
    width: 620px;
    height: 763px;
    padding: 28px 52.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: flex-start;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 60px;
    border-radius: 20px;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 24px;
    color: #111111;
}

.containerLogo {
    max-width: 213px;
    max-height: 124px;
}

.containerLogo img {
    max-width: 100%;
    flex-shrink: 0;
    height: auto;
    display: block;
}

a {
    font-size: 36px;
    line-height: 18px;
    padding: 79.5px 63.5px;
    background: #0DBDBD;
    color: #FFFFFF;
    border-radius: 10px;
    border-width: 0;
    text-decoration: none;
}

@media (max-width: 380px) {
    a {
        font-size: 30px;
    }
}
