html,body {
    font-family: "Nunito", Helvetica, Arial, Helvetica, sans-serif;
    background-color: #ECEEF2;
}

.container-center {
    width: 620px;
    height: 763px;
    padding: 28px 52.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 20px;
}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
